.image_logo{
    background-color: var(--bs-blue);
    align-items: center;
    image-rendering: auto;
}

.logopri{
    align-items: center;
}

img{
    width: 50em;
    height: 50em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#textpage{
    font-size: 30px;
}

.links{
    font-size: 25px;
    
}




