.super{
    background-color: var(--bs-blue);
}

.image_logo{
   
    align-items: center;
    image-rendering: auto;
}

.logopri{
    align-items: center;
}

img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.areatext1{
    margin-bottom: 10%;
}

#text1{
    margin-top: 10px;
}

#textpage{
    font-size: 2.5em;
    text-align: center;
}

.links{
    font-size: 2em;
    
}


